name: Release Please
run-name: Release Please

on:
  push:
    branches:
      - main

jobs:
  release-please:
    if: github.repository == 'orefalo/${{ github.event.repository.name }}' # Prevent running on forks
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm bundle

      - name: Package extension
        run: |
          zip -r LLM_SuperSet.popclipextz LLM_Superset.popclipext

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: LLM_SuperSet.popclipextz
          tag: ${{ github.ref }}
          overwrite: true
